@font-face {
	font-family:'AstralProjections';
	src: url('fonts/AstralProjections_latin+latin-ext_gdi.eot');
	src: url('fonts/AstralProjections_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/AstralProjections_latin+latin-ext_gdi.woff') format('woff'),
		url('fonts/AstralProjections_latin+latin-ext_gdi.ttf') format('truetype'),
		url('fonts/AstralProjections_latin+latin-ext_gdi.svg#AstralProjections-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-20AC;}

* {}
a {color:inherit;text-decoration:none;}
::-webkit-input-placeholder {color:#fff;font-family:monospace;}
::-moz-placeholder {color:#fff;font-family:monospace;}
:-ms-input-placeholder {color:#fff;font-family:monospace;}
input:-moz-placeholder {font-family:monospace;color:#fff;}
html,body {margin:0;padding:0;width:100%;height:100%;}
body {
  background: #2B2622;
  -webkit-animation: bg 10s infinite alternate;
     -moz-animation: bg 10s infinite alternate;
       -o-animation: bg 10s infinite alternate;
          animation: bg 10s infinite alternate;
}

@-webkit-keyframes bg {
  0%   { background: #333DDD; }
  50% { background: #666DDD; }
  100%   { background: #333DDD; }
}
@-moz-keyframes bg {
  0%   { background: #333DDD; }
  50% { background: #666DDD; }
  100%   { background: #333DDD; }
}
@-o-keyframes bg {
  0%   { background: #333DDD; }
  50% { background: #666DDD; }
  100%   { background: #333DDD; }
}
@keyframes bg {
  0%   { background: #333DDD; }
  50% { background: #666DDD; }
  100%   { background: #333DDD; }
}
body {font-family:monospace;color:#fff;height:100%;width:100%;}
header {display:inline-block;padding:4%;}
h1 {margin:4% 0 0 4%;font-family:monospace;font-size:4em;line-height:.6;letter-spacing:0;}
#about {letter-spacing:-2px;padding:2px 2px 2px 48px;}
#chart {letter-spacing:-2px;padding:2px;}
#menu {display:inline-block;}
#info, #loading {position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(43,43,43,.8);display:none;z-index:99;}
#info-text {overflow:scroll;padding:4%;line-height:1;position:absolute;top:0;left:0;right:0;bottom:0;background:#fff;height:50%;width:50%;margin:auto;color:#000;}
#info-text p {display:block;}
#ask {text-align:center;z-index:99;}
#ask p {letter-spacing:-1px;}
button {width:30%;background:none;border:none;margin:4%;font-family:monospace;color:#fff;font-size:1.2em;letter-spacing:-1px;}
button:hover {font-style:italic;}
.reset {display:none;}
.line {width:120px;height:23px;display:block;color:transparent;}
#hexagram {width:15%;display:inline-block;margin:0 0 4% 4%;}
.line {}
.yang {border-bottom:8px solid #fff;}
.yin {border-bottom:8px dotted #fff;}
.yangC {border-bottom:8px solid #aaa;}
.yinC {border-bottom:8px dotted #aaa;}
.result {display:none;width:79%;text-transform: lowercase;}
h2 {letter-spacing:-4px;font-size:3em;text-align:center;}
h3 {letter-spacing:-2px;font-size:2em;text-align:center;opacity:.4;}
.result p {width:80%;margin:auto;}
#result p:first-of-type {font-weight:bolder;}
.changing {display:none;}
#loading {background:rgb(43,43,43);z-index:5;}
#result {}
.table {display:none;width:680px;max-width:90%;margin:auto;font-size:70px;}
.td {transition:7s;opacity:.2;width:10%;padding:1%;float:left;text-align:center;letter-spacing: -8px;}
.td:hover {opacity:1;}
.active {opacity:1;transition:1s;}
#dot {opacity:.7;}
footer {height:20px;}
@media screen and (max-width:500px) {
 #hexagram {width:120px;display:block;margin:auto;}
 .result {width:100%;}
 #ask {width:80%;margin:auto;}
 footer {height:40px;}
}
